<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>我的租机 - 神州租手机</title>
<link href="css/style.css" rel="stylesheet" type="text/css">

<style type="text/css">
body {
	background-color: #f5f5f5;
}
</style>
</head>
<body>
	<div style="padding: 0px 30px 0px 30px; background: #f5f5f5;">
		<div class="style23" style="line-height: 30px; height: 30px;">
			<span id="user">
				<div class="style23" style="float: left;">17610573732，欢迎您！</div>
				<div class="style23" style="float: right;">
					<a href="#" target="_blank"
						class="style23">我的账户</a> &nbsp; &nbsp; &nbsp; <a
						href="#" target="_blank"
						class="style23">我的订单</a> &nbsp; &nbsp; &nbsp; <a
						href="#" target="_blank"
						class="style23">我的账单</a> &nbsp; &nbsp; &nbsp; <a
						href="#" class="style23">退出登录</a>
				</div>
			</span>
		</div>
	</div>
	<div
		style="padding: 10px 30px 0px 30px; background: #ffffff; border-bottom: 1px #555555 solid; min-width: 1200px; height: 90px;">
		<div style="float: left; padding-top: 15px; width: 100px;">
			<a href="#"> <img
				src="images/logo.png" width="50" height="50"
				border="0"
				style="padding: 2px; background: #00a0e4; border-radius: 5%;">
			</a>
		</div>
		<a href="#" target="_blank" class="style8">
			<div class="style8"
				style="float: right; margin-top: 20px; border: 1px #eeeeee solid; background: #f5f5f5; padding-top: 15px; width: 150px; height: 28px; text-align: center;">我的租物车</div>
		</a>
	</div>

	<div
		style="margin-right: auto; margin-left: auto; margin-top: 45px; background: #ffffff; width: 1200px; height: 900px;">
		<div
			style="float: left; background: #333333; border: 0px #dddddd solid; width: 200px; height: 900px;">
			<div class="style18"
				style="padding: 25px 0px 0px 50px; border-bottom: 0px #666666 solid; background: #00a0e4; height: 35px;">我的租机</div>
			<a href="#" class="style28"><div
					onmouseover="style.backgroundColor=&#39;#ffffff&#39;"
					onmouseout="style.backgroundColor=&#39;#333333&#39;"
					style="padding: 25px 0px 0px 50px; border-bottom: 1px #666666 solid; height: 35px;">订单记录</div></a>
			<a href="#" class="style28"><div
					onmouseover="style.backgroundColor=&#39;#ffffff&#39;"
					onmouseout="style.backgroundColor=&#39;#333333&#39;"
					style="padding: 25px 0px 0px 50px; border-bottom: 1px #666666 solid; height: 35px;">账单还款</div></a>
			<a href="#" class="style28"><div
					onmouseover="style.backgroundColor=&#39;#ffffff&#39;"
					onmouseout="style.backgroundColor=&#39;#333333&#39;"
					style="padding: 25px 0px 0px 50px; border-bottom: 1px #666666 solid; height: 35px;">信用卡包</div></a>
			<a href="#" class="style28"><div
					onmouseover="style.backgroundColor=&#39;#ffffff&#39;"
					onmouseout="style.backgroundColor=&#39;#333333&#39;"
					style="padding: 25px 0px 0px 50px; border-bottom: 1px #666666 solid; height: 35px;">咨询问答</div></a>
			<a href="#" class="style28"><div
					onmouseover="style.backgroundColor=&#39;#ffffff&#39;"
					onmouseout="style.backgroundColor=&#39;#333333&#39;"
					style="padding: 25px 0px 0px 50px; border-bottom: 1px #666666 solid; height: 35px;">收货地址</div></a>
			<a href="#" class="style28"><div
					onmouseover="style.backgroundColor=&#39;#ffffff&#39;"
					onmouseout="style.backgroundColor=&#39;#333333&#39;"
					style="padding: 25px 0px 0px 50px; border-bottom: 1px #666666 solid; height: 35px;">账户安全</div></a>
			<a href="#" class="style28"><div
					onmouseover="style.backgroundColor=&#39;#ffffff&#39;"
					onmouseout="style.backgroundColor=&#39;#333333&#39;"
					style="padding: 25px 0px 0px 50px; border-bottom: 1px #666666 solid; height: 35px;">消息通知</div></a>
		</div>

		<div
			style="float: right; padding: 20px 30px 0px 30px; border: 0px #dddddd solid; width: 940px;">


			<div
				style="background: #ffffff; border-bottom: 1px #eeeeee solid; height: 200px;">
				<div style="float: left; padding-top: 45px; width: 320px;">
					<div align="center"
						style="float: left; margin-left: 30px; width: 100px;">
						<img src="images/head.png" width="100" height="100"><br>
					</div>
					<div class="style28"
						style="float: left; padding-left: 10px; line-height: 45px;">
						17610573732<br>北京大兴区
					</div>
				</div>

				<div
					style="float: right; padding: 30px 0px 0px 0px; background: #ffffff; width: 600px;">
					<div style="float: left; padding: 55px 0px 0px 10px; width: 40px;">
						<img src="images/keyongyue.png" width="36"
							height="36">
					</div>
					<div class="style28"
						style="float: left; padding-left: 20px; border-right: 0px #eeeeee solid; line-height: 50px; width: 240px; height: 140px;">
						信用额度（元）<br>
						<span class="style36">0.00</span><br>
					</div>

					<div style="float: left; padding: 55px 0px 0px 10px; width: 40px;">
						<img src="images/keyongyue.png" width="36"
							height="36">
					</div>
					<div class="style28"
						style="float: right; padding-left: 20px; border-right: 0px #eeeeee solid; line-height: 50px; width: 220px; height: 140px;">
						账单额度（元）<br>
						<span class="style36">0.00</span><br>
					</div>
				</div>
			</div>


			<div
				style="margin-top: 20px; border-bottom: 1px #eeeeee solid; background: #ffffff; height: 300px;">
				<div style="padding: 20px 0px 0px 0px; height: 30px;">
					<div class="style31"
						style="float: left; border-left: 5px #ffcc00 solid;">&nbsp;
						我的订单</div>
					<div style="float: right;">&nbsp;</div>
				</div>
				<div style="height: 250px;">
					<span id="or"><div align="center"
							style="padding-top: 20px; font-size: 18px; color: #999999; height: 100px;">
							<span
								style="display: block; background: url(images/icon.png) 0px -110px; width: 61px; height: 71px;"></span><br>
							<br>您还没有租机订单数据
						</div></span>
				</div>
			</div>

			<div
				style="margin-top: 20px; border-bottom: 0px #dddddd solid; background: #ffffff; height: 300px;">
				<div style="padding: 20px 0px 0px 0px; height: 30px;">
					<div class="style31"
						style="float: left; border-left: 5px #ffcc00 solid;">&nbsp;
						我的账单</div>
					<div style="float: right;">&nbsp;</div>
				</div>
				<div style="padding: 10px 20px 0px 20px; height: 250px;">
					<span id="bi"><div align="center"
							style="padding-top: 20px; font-size: 18px; color: #999999; height: 100px;">
							<span
								style="display: block; background: url(images/icon.png) -70px -110px; width: 65px; height: 65px;"></span><br>
							<br>您还没有租机账单数据
						</div></span>
				</div>
			</div>
		</div>
	</div>

	<div style="margin-top: 100px; background: #ffffff;">
		<div class="style30"
			style="margin-right: auto; margin-left: auto; padding-top: 30px; border-bottom: 1px #eeeeee solid; line-height: 50px; width: 1200px; height: 70px;">
			<div
				style="float: left; padding-left: 50px; width: 25%; height: 60px;">
				<img src="images/icon_pc.png" width="30" height="30"
					align="absmiddle"> 以租代购
			</div>
			<div
				style="float: left; padding-left: 0px; width: 25%; height: 60px;">
				<img src="images/icon_money.png" width="30"
					height="30" align="absmiddle"> 零元首付
			</div>
			<div
				style="float: left; padding-left: 0px; width: 25%; height: 60px;">
				<img src="images/icon_datepicker.png" width="30"
					height="30" align="absmiddle"> 分期付费
			</div>
			<div
				style="float: left; padding-left: 0px; width: 20%; height: 60px;">
				<img src="images/icon_protect.png" width="30"
					height="30" align="absmiddle"> 免赔保障
			</div>
		</div>
	</div>

	<div style="background: #ffffff;">
		<div
			style="margin-left: auto; margin-right: auto; padding-top: 30px; border-bottom: 1px #eeeeee solid; line-height: 35px; width: 1200px; height: 180px;">

			<div style="float: left; padding-left: 50px; width: 180px;">
				<span class="style11">业务介绍</span><br> <a
					href="#" class="style28"
					target="_blank">以租代购</a><br> <a
					href="#" class="style28"
					target="_blank">租机业务</a><br> <a
					href="#" class="style28"
					target="_blank">租机品牌</a>
			</div>

			<div style="float: left; width: 180px;">
				<span class="style11">信用额度</span><br> <a
					href="#" class="style28"
					target="_blank">获得额度</a><br> <a
					href="#" class="style28"
					target="_blank">使用额度</a><br> <a
					href="#" class="style28"
					target="_blank">提高额度</a>
			</div>

			<div style="float: left; width: 180px;">
				<span class="style11">分期支付</span><br> <a
					href="#" class="style28"
					target="_blank">信用卡</a><br> <a
					href="#" class="style28"
					target="_blank">储蓄卡</a><br> <a
					href="#" class="style28"
					target="_blank">支付宝</a><br>
			</div>

			<div style="float: left; width: 180px;">
				<span class="style11">账单还款</span><br> <a
					href="#" class="style28"
					target="_blank">扣款周期</a><br> <a
					href="#" class="style28"
					target="_blank">还款时间</a><br> <a
					href="#" class="style28"
					target="_blank">还款周期</a><br>
			</div>

			<div
				style="float: left; border-right: 1px #eeeeee solid; width: 150px; height: 150px;">
				<span class="style11">换机购机</span><br> <a
					href="#" class="style28"
					target="_blank">如何还机</a><br> <a
					href="#" class="style28"
					target="_blank">如何换机</a><br> <a
					href="#" class="style28"
					target="_blank">如何购机</a>
			</div>

			<div class="style25"
				style="float: right; padding-top: 0px; width: 220px;">
				<img src="images/alipay.png" width="110" height="110"><img
					src="images/weixin.png" width="110" height="110"><br>关注神州租机支付宝生活号和微信公众号
			</div>
		</div>
	</div>

	<div align="center" class="style25"
		style="padding-top: 30px; background: #ffffff; line-height: 25px; height: 80px;">
		<a href="#" target="_blank"
			class="style25">公司介绍</a> &nbsp; | &nbsp; <a
			href="#" target="_blank"
			class="style25">旗下网站</a> &nbsp; | &nbsp; <a
			href="#" target="_blank"
			class="style25">业务体系</a> &nbsp; | &nbsp; <a
			href="#" target="_blank"
			class="style25">门店计划</a> &nbsp; | &nbsp; <a
			href="#" target="_blank"
			class="style25">联系我们</a> &nbsp; | &nbsp; <a
			href="#" target="_blank" class="style25">帮助中心</a><br>
		<span> Copyright © 2016-2019 ZUSHOUJI.COM All Rights Reserved
			神州租机 版权所有 京ICP备16068806号</span>
	</div>


</body>
</html>