<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>OPPO Reno - 神州租手机</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<style type="text/css">
body {
	background-color: #f4f4f4;
}

.round {
	display: inline-block;
	line-height: 24px;
	border-radius: 50%;
	color: #ffffff;
	background: #ffcc00;
	font-size: 14px;
	width: 24px;
	height: 24px;
	text-align: center;
}
</style>
</head>
<body>

	<div style="padding: 0px 30px 0px 30px; background: #f5f5f5;">
		<div class="style23" style="line-height: 30px; height: 30px;">
			<span id="user"><div class="style23" style="float: left;">神州用户，您好！</div>
				<div class="style23" style="float: right;">
					<a href="#" target="_blank" class="style23">用户登录</a> &nbsp; &nbsp;
					<a href="#" target="_blank" class="style23">免费注册</a>
				</div></span>
		</div>
	</div>

	<div
		style="padding: 10px 30px 0px 30px; background: #ffffff; border-bottom: 1px #555555 solid; min-width: 1200px; height: 90px;">
		<div style="float: left; padding: 15px 20px 0px 0px;">
			<a href="#"><img src="images/logo.png" width="50" height="50"
				border="0"
				style="padding: 2px; background: #00a0e4; border-radius: 5%;"></a>
		</div>
		<a href="#" target="_blank" class="style8">
			<div class="style8"
				style="float: right; margin-top: 20px; border: 1px #eeeeee solid; background: #f2f2f2; padding-top: 15px; width: 150px; height: 28px; text-align: center;">我的租物车</div>
		</a>
	</div>


	<div
		style="margin-right: auto; margin-left: auto; padding-top: 20px; font-size: 14px; color: #333333; width: 1200px; height: 35px;">
		<a href="#" class="style8">首页</a> &gt; 分期租机 &gt; OPPO OPPO Reno
	</div>
	<div
		style="margin-right: auto; margin-left: auto; border: 1px #eeeeee solid; background: #ffffff; width: 1198px; height: 600px;">

		<div class="style28"
			style="float: left; border-right: 0px #eeeeee solid; width: 350px; height: 600px;">
			<div style="padding-top: 50px;">
				<img src="images/gsMHAFyweJmAFoUvAAKDaP4GX5c740.png" height="350">
			</div>
			<div style="padding: 10px 0px 10px 20px; height: 60px;">
				<div style="float: left; padding: 15px 10px 0px 0px;">
					<img src="images/prev.png" width="22" height="32">
				</div>
				<div style="float: left; padding: 5px; border: 1px #eeeeee solid;">
					<img src="images/gsMHAFyweJmAFoUvAAKDaP4GX5c740.png" height="50">
				</div>
				<div style="float: right; padding: 15px 10px 0px 0px;">
					<img src="images/next.png" width="22" height="32">
				</div>
			</div>
		</div>
		<div class="style8"
			style="float: left; margin-left: 25px; width: 600px;">
			<div
				style="padding-top: 30px; border-bottom: 0px #dddddd dotted; height: 70px;">
				<div class="style31" style="float: left; line-height: 25px;">
					OPPO Reno <br> <span style="font-size: 14px; color: #ff6600;">每用户限一部，零元首付、分期付费、官方正品、门店配送、免运费</span>
				</div>
			</div>
			<div
				style="padding: 15px 0px 10px 20px; background: #f4f4f4; line-height: 35px;">
				市 场 价 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span
					style="font-size: 24px; color: #ff6600;">¥ <span id="pr1">2999</span>.00
				</span><br> 租 机 价 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span
					style="font-size: 24px; color: #ff6600;">¥ <span id="pr2">166</span>.00
				</span>
			</div>

			<div
				style="padding-top: 20px; border: 0px #ffc045 solid; background: #;">
				<form action="#" method="post" name="input" id="input"
					onsubmit="return(CheckInput())">
					<div style="padding-left: 20px; height: 50px;">
						<div style="float: left; padding-top: 6px; width: 80px;">颜
							&nbsp; &nbsp; 色</div>
						<div style="float: left; width: 400px; height: 30px;">
							<div
								style="float: left; margin-left: 10px; width: 20%; text-align: center; display: none;">
								<input name="color" type="radio" id="m11" style="display: none;"
									value="1"><label id="n11" for="m11"
									style="display: block; padding-top: 5px; border: 1px #dddddd solid; height: 25px; border-radius: 5px;">白色</label>
							</div>
							<div
								style="float: left; margin-left: 10px; width: 20%; text-align: center; display: none;">
								<input name="color" type="radio" id="m12" style="display: none;"
									value="2"><label id="n12" for="m12"
									style="display: block; padding-top: 5px; border: 1px #dddddd solid; height: 25px; border-radius: 5px;">金色</label>
							</div>
							<div
								style="float: left; margin-left: 10px; width: 20%; text-align: center;">
								<input name="color" type="radio" id="m13" style="display: none;"
									value="3"><label id="n13" for="m13"
									onclick="showbg(1,3)"
									style="display: block; padding-top: 5px; border: 1px #dddddd solid; height: 25px; cursor: pointer;">黑色</label>
							</div>
							<div
								style="float: left; margin-left: 10px; width: 20%; text-align: center; display: none;">
								<input name="color" type="radio" id="m14" style="display: none;"
									value="4"><label id="n14" for="m14"
									style="display: block; padding-top: 5px; border: 1px #dddddd solid; height: 25px; border-radius: 5px;">蓝色</label>
							</div>
							<div
								style="float: left; margin-left: 10px; width: 20%; text-align: center;">
								<input name="color" type="radio" id="m15" style="display: none;"
									value="5"><label id="n15" for="m15"
									onclick="showbg(1,5)"
									style="display: block; padding-top: 5px; border: 1px #dddddd solid; height: 25px; cursor: pointer;">红色</label>
							</div>
							<div
								style="float: left; margin-left: 10px; width: 20%; text-align: center;">
								<input name="color" type="radio" id="m16" style="display: none;"
									value="6"><label id="n16" for="m16"
									onclick="showbg(1,6)"
									style="display: block; padding-top: 5px; border: 1px #dddddd solid; height: 25px; cursor: pointer;">紫色</label>
							</div>
						</div>
					</div>
					<div style="padding-left: 20px; height: 50px;">
						<div style="float: left; padding-top: 6px; width: 80px;">内
							&nbsp; &nbsp; 存</div>
						<div style="float: left; width: 400px; height: 30px;">
							<div
								style="float: left; margin-left: 10px; width: 20%; text-align: center; display: none;">
								<input name="store" type="radio" id="m21" style="display: none;"
									value="1"><label id="n21" for="m21"
									style="display: block; padding-top: 8px; border: 1px #dddddd solid; height: 22px; border-radius: 5px;">32G</label>
							</div>
							<div
								style="float: left; margin-left: 10px; width: 20%; text-align: center; display: none;">
								<input name="store" type="radio" id="m22" style="display: none;"
									value="2"><label id="n22" for="m22"
									style="display: block; padding-top: 8px; border: 1px #dddddd solid; height: 22px; border-radius: 5px;">64G</label>
							</div>
							<div
								style="float: left; margin-left: 10px; width: 20%; text-align: center;">
								<input name="store" type="radio" id="m23" style="display: none;"
									value="3"><label id="n23" for="m23"
									onclick="prices(128),price(128),showbg(2,3)"
									style="display: block; padding-top: 8px; border: 1px #dddddd solid; height: 22px; cursor: pointer;">128G</label>
							</div>
							<div
								style="float: left; margin-left: 10px; width: 20%; text-align: center;">
								<input name="store" type="radio" id="m24" style="display: none;"
									value="4"><label id="n24" for="m24"
									onclick="prices(256),price(256),showbg(2,4)"
									style="display: block; padding-top: 8px; border: 1px #dddddd solid; height: 22px; cursor: pointer;">256G</label>
							</div>
							<div
								style="float: left; margin-left: 10px; width: 20%; text-align: center; display: none;">
								<input name="store" type="radio" id="m25" style="display: none;"
									value="5"><label id="n25" for="m25"
									style="display: block; padding-top: 8px; border: 1px #dddddd solid; height: 22px; border-radius: 5px;">512G</label>
							</div>
						</div>
					</div>
					<div style="padding-left: 20px; height: 50px;">
						<div style="float: left; padding-top: 6px; width: 80px;">版
							&nbsp; &nbsp; 本</div>
						<div
							style="float: left; margin-left: 10px; width: 80px; text-align: center;">
							<input name="network" type="radio" id="m31"
								style="display: none;" value="1"> <label id="n31"
								for="m31" onclick="showbg(3,1)"
								style="display: block; padding-top: 5px; border: 1px #dddddd solid; height: 25px; cursor: pointer;">全网通</label>
						</div>
					</div>
					<div
						style="padding: 20px 0px 0px 20px; border-top: 1px #dddddd dotted; height: 50px;">
						<div style="float: left; padding-top: 6px; width: 80px;">配
							&nbsp; &nbsp; 置</div>
						<div
							style="float: left; margin-left: 10px; width: 80px; text-align: center;">
							<input name="long" type="radio" id="m41" style="display: none;"
								value="1"> <label id="n41" for="m41"
								onclick="showbg(4,1)"
								style="display: block; padding-top: 5px; border: 1px #dddddd solid; height: 25px; cursor: pointer;">官方标配</label>
						</div>
					</div>

					<div style="padding-left: 20px; height: 50px;">
						数 &nbsp; &nbsp; 量 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img
							onclick="count_cut();" src="images/cut.gif"
							style="cursor: pointer;" width="14" height="14"> <input
							id="count" name="count" type="text" class="style8" value="1"
							readonly="readonly"
							style="padding: 5px; width: 30px; text-align: center;"> <img
							onclick="count_add();" src="images/add.jpg"
							style="cursor: pointer;" width="14" height="14">
					</div>

					<div style="padding: 0px 0px 0px 20px;">
						<input onmouseover="style.backgroundColor=&#39;#00a0e4&#39;"
							onmouseout="style.backgroundColor=&#39;#00a0e4&#39;"
							name="button" type="submit" id="button"
							style="background: #00a0e4; border: 0px #dddddd solid; font-size: 16px; color: #ffffff; cursor: pointer; width: 350px; height: 60px; outline: none;"
							value="加入租物车">
					</div>
				</form>
			</div>
		</div>
		<div class="style8"
			style="float: right; border-left: 1px #eeeeee solid; width: 198px; height: 600px;">
			<div class="style8"
				style="padding: 50px 0px 30px 0px; text-align: center;">以租代购优势</div>
			<div class="style23"
				style="line-height: 30px; height: 70px; text-align: center;">
				<div style="float: left; width: 50%;">
					<img src="images/icon_money.png" width="30" height="30"><br>零元首付
				</div>
				<div style="float: left; width: 50%;">
					<img src="images/icon_datepicker.png" width="30" height="30"><br>分期付费
				</div>
			</div>
			<div class="style23"
				style="line-height: 30px; height: 70px; text-align: center;">
				<div style="float: left; width: 50%;">
					<img src="images/icon_pc.png" width="30" height="30"><br>租售灵活
				</div>
				<div style="float: left; width: 50%;">
					<img src="images/icon_free.png" width="30" height="30"><br>信用额度
				</div>
			</div>
			<div class="style23"
				style="line-height: 30px; height: 70px; text-align: center;">
				<div style="float: left; width: 50%;">
					<img src="images/icon_door.png" width="30" height="30"><br>门店配送
				</div>
				<div style="float: left; width: 50%;">
					<img src="images/icon_protect.png" width="30" height="30"><br>免赔保障
				</div>
			</div>
		</div>
	</div>

	<div
		style="margin-right: auto; margin-left: auto; margin-top: 20px; width: 1200px;">

		<div id="menu" class="style8" align="center"
			style="border: 1px #eeeeee solid; background: #ffffff; width: 1200px; height: 49px;">
			<div id="a1" onclick="showbgg(1)"
				style="float: left; padding-top: 18px; border-top: 2px #ffcc00 solid; border-right: 1px #eeeeee solid; background: #ffffff; width: 150px; height: 30px; cursor: pointer;">手机介绍</div>
			<div id="a2" onclick="showbgg(2)"
				style="float: left; padding-top: 18px; width: 150px; height: 30px; cursor: pointer;">租机流程</div>
			<div id="a3" onclick="showbgg(3)"
				style="float: left; padding-top: 18px; width: 150px; height: 30px; cursor: pointer;">常见问题</div>
			<div id="a4" onclick="showbgg(4)"
				style="float: left; padding-top: 18px; width: 150px; height: 30px; cursor: pointer;">咨询问答</div>
			<div
				style="float: right; padding-top: 18px; width: 200px; height: 30px;"></div>
		</div>

		<div id="d1" align="center"
			style="padding: 20px 0px 100px 0px; border: 1px #eeeeee solid; border-top: 0px #dddddd solid; background: #ffffff; text-align: center;">
			<h2 id="func_detail" class="title"
				style="margin: 12px 0px 24px; padding: 0px 0px 8px; font-size: 18px; font-weight: 500; color: rgb(102, 164, 35); border-bottom: 3px solid rgb(225, 225, 225); position: relative; font-family: tahoma, arial,"
				hiragino="" sans="" gb",="" "microsoft="" yahei";"="">
				<img src="images/gcMHAFytmeeANbonAAB8f-9H4eA425.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/g8MHAFytmeeAFInVAADhWHXhsS0820.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gcMHAFytmeeARTj0AADaXzfeKpU912.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/g8MHAFytmeiAbWguAABUfJsAeT0594.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gsMHAFytmeiAIy01AACruMrE8BY516.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/g8MHAFytmeiAcWaHAACEYtT3rNA693.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gcMHAFytmeiAD3jSAACAtJHSFtM770.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gcMHAFytmeiAatuqAAByqXl0sVU482.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gsMHAFytmeiAC_btAAC0Vbqh6hA604.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gsMHAFytmeiAYaJFAACILQGV1Hw346.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gsMHAFytmeiAZmDJAAB_eP9xL78302.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gsMHAFytmeiAZge8AADhONzik3w416.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gsMHAFytmeiAfsNPAAFIOxvPmow884.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/g8MHAFytmemALwlOAAEdz0mwMpM356.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gcMHAFytmemABGTKAAGNjL670OI013.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/g8MHAFytmemALhiuAADe_z2-K8U670.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gcMHAFytmemAYUsHAADOZ1EAgIc987.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/g8MHAFytmemATg7sAAEq35AxBxw491.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/g8MHAFytmemAYn5TAADdJCrzyz4784.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gcMHAFytmemAbdRIAAEWDr2HH_A779.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gcMHAFytmf2AIukHAACHjgp9bvA926.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gcMHAFytmf2APzwqAADdJ3vavKM628.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gsMHAFytmf2ASIadAAB65JtWJwA248.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gsMHAFytmf2AU3ElAADC1li9NIo746.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gcMHAFytmf2AVQISAAD8-A93_Jc128.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/g8MHAFytmf2AKFKvAAA_nJyenaA097.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/g8MHAFytmf2AbHGdAADXCHTVD4U999.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gsMHAFytmf6AEKfrAADsCWPOBCY701.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/gsMHAFytmf6AXn8WAADdgq_8VAY850.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
				<img src="images/g8MHAFytmf6AGd5rAACuAn-fAzk621.jpg" alt=""
					style="color: rgb(95, 95, 95); font-size: 14px; margin: 0px; padding: 0px; border: 0px; vertical-align: top; display: inline;">
			</h2>
		</div>

		<div id="d2" class="style8"
			style="margin-top: 50px; border: 1px #dddddd solid; background: #ffffff;">
			<div class="style8"
				style="padding-top: 18px; background: #f6f6f6; border-bottom: 1px #dddddd solid; height: 30px;">&nbsp;
				&nbsp; 租机流程说明</div>
			<div style="padding: 50px; line-height: 30px;">
				<span style="font-size: 18px;"><span class="round">1</span>
					选择手机品牌型号</span><br> 确认您的城市在租机范围内，选择您喜欢的手机品牌型号，添加到“租物车”中。<br> <br>
				<br> <span style="font-size: 18px;"><span class="round">2</span>
					在线提交租机订单</span><br> 输入真实姓名、手机号码、电子邮箱、收货地址等客户信息，并在线提交租机订单。<br> <br>
				<br> <span style="font-size: 18px;"><span class="round">3</span>
					签订《租机合同》</span><br> 收到租机订单后，系统会自动发送一份《租机合同》到电子邮箱，签字盖章并回传邮件达成法律效力。<br>
				<br> <br> <span style="font-size: 18px;"><span
					class="round">4</span> 获得手机并使用</span><br>
				《租机合同》签订完成后，北京上海本地用户我司安排人员送机，也可到公司或手机店自提取机，异地用户统一顺丰送机。<br> <br>
				<br> <span style="font-size: 18px;"><span class="round">5</span>
					返还手机开据发票</span><br> 租机到期后返还手机，我司进行租机结算，企业客户开据租机发票。<br> <br>
			</div>
		</div>

		<div id="d3" class="style8"
			style="margin-top: 50px; border: 1px #dddddd solid; background: #ffffff;">
			<div class="style8"
				style="padding-top: 18px; background: #f6f6f6; border-bottom: 1px #dddddd solid; height: 30px;">&nbsp;
				&nbsp; 租机常见问题</div>
			<div style="padding: 50px; line-height: 30px;">
				<span class="round">问</span> 什么是租机业务？<br> <span class="round">答</span>
				手机租赁业务，和汽车租赁业务类似，属于现代租赁消费服务。<br> <br> <br> <span
					class="round">问</span> 租机业务有哪几种？<br> <span class="round">答</span>
				对于个人客户：分期租机、旅游租机；对于企业客户：企业租机、测试租机、展会租机。<br> <br> <br>
				<span class="round">问</span> 租机比购机有哪些好处？<br> <span
					class="round">答</span> 极大节省手机购买资金成本，随租随用、方便快捷，倡导分享经济理念。<br> <br>
				<br> <span class="round">问</span> 如何签订《租机合同》？<br> <span
					class="round">答</span> 打印租机合同，个人客户亲笔签名，企业客户加盖公章，拍照扫描回传邮件完成签约。<br>
				<br> <br> <span class="round">问</span> 如何支付租机费用？<br>
				<span class="round">答</span> 和租车类似，使用预授权后结算方式，建议使用信用卡支付，支持POS机刷卡。<br>
				<br> <br> <span class="round">问</span> 本地用户如何办理租机？<br>
				<span class="round">答</span>
				北京上海本地用户，我司直接安排人员送机，也可到租机网络公司或手机实体店自提取机。<br> <br> <br>
				<span class="round">问</span> 异地用户可以办理租机吗？<br> <span
					class="round">答</span>
				考虑到经济水平、用户素质、和物流配送等原因，租机服务地区是中国经济较发达省份的一二线城市。<br> <br>
			</div>
		</div>

		<div id="d4" class="style8"
			style="margin-top: 50px; padding: 0px 0px 50px 0px; border: 1px #dddddd solid; background: #ffffff;">
			<div class="style8"
				style="padding-top: 18px; background: #f6f6f6; border-bottom: 1px #dddddd solid; height: 30px;">&nbsp;
				&nbsp; 租机咨询问答</div>
			<div id="as" style="padding: 10px;"></div>
		</div>

	</div>


	<div style="margin-top: 100px; background: #ffffff;">
		<div class="style30"
			style="margin-right: auto; margin-left: auto; padding-top: 30px; border-bottom: 1px #eeeeee solid; line-height: 50px; width: 1200px; height: 70px;">
			<div
				style="float: left; padding-left: 50px; width: 25%; height: 60px;">
				<img src="images/icon_pc.png" width="30" height="30"
					align="absmiddle"> 以租代购
			</div>
			<div
				style="float: left; padding-left: 0px; width: 25%; height: 60px;">
				<img src="images/icon_money.png" width="30" height="30"
					align="absmiddle"> 零元首付
			</div>
			<div
				style="float: left; padding-left: 0px; width: 25%; height: 60px;">
				<img src="images/icon_datepicker.png" width="30" height="30"
					align="absmiddle"> 分期付费
			</div>
			<div
				style="float: left; padding-left: 0px; width: 20%; height: 60px;">
				<img src="images/icon_protect.png" width="30" height="30"
					align="absmiddle"> 免赔保障
			</div>
		</div>
	</div>
	<div style="background: #ffffff;">
		<div
			style="margin-left: auto; margin-right: auto; padding-top: 30px; border-bottom: 1px #eeeeee solid; line-height: 35px; width: 1200px; height: 180px;">
			<div style="float: left; padding-left: 50px; width: 180px;">
				<span class="style11">业务介绍</span><br> <a href="#"
					class="style28" target="_blank">以租代购</a><br> <a href="#"
					class="style28" target="_blank">租机业务</a><br> <a href="#"
					class="style28" target="_blank">租机品牌</a>
			</div>
			<div style="float: left; width: 180px;">
				<span class="style11">信用额度</span><br> <a href="#"
					class="style28" target="_blank">获得额度</a><br> <a href="#"
					class="style28" target="_blank">使用额度</a><br> <a href="#"
					class="style28" target="_blank">提高额度</a>
			</div>
			<div style="float: left; width: 180px;">
				<span class="style11">分期支付</span><br> <a href="#"
					class="style28" target="_blank">信用卡</a><br> <a href="#"
					class="style28" target="_blank">储蓄卡</a><br> <a href="#"
					class="style28" target="_blank">支付宝</a><br>
			</div>
			<div style="float: left; width: 180px;">
				<span class="style11">账单还款</span><br> <a href="#"
					class="style28" target="_blank">扣款周期</a><br> <a href="#"
					class="style28" target="_blank">还款时间</a><br> <a href="#"
					class="style28" target="_blank">还款周期</a><br>
			</div>
			<div
				style="float: left; border-right: 1px #eeeeee solid; width: 150px; height: 150px;">
				<span class="style11">换机购机</span><br> <a href="#"
					class="style28" target="_blank">如何还机</a><br> <a href="#"
					class="style28" target="_blank">如何换机</a><br> <a href="#"
					class="style28" target="_blank">如何购机</a>
			</div>
			<div class="style25"
				style="float: right; padding-top: 0px; width: 220px;">
				<img src="images/alipay.png" width="110" height="110"><img
					src="images/weixin.png" width="110" height="110"><br>关注神州租机支付宝生活号和微信公众号
			</div>
		</div>
	</div>
	<div align="center" class="style25"
		style="padding-top: 30px; background: #ffffff; line-height: 25px; height: 80px;">
		<a href="#" target="_blank" class="style25">公司介绍</a> &nbsp; | &nbsp; <a
			href="#" target="_blank" class="style25">旗下网站</a> &nbsp; | &nbsp; <a
			href="#" target="_blank" class="style25">业务体系</a> &nbsp; | &nbsp; <a
			href="#" target="_blank" class="style25">门店计划</a> &nbsp; | &nbsp; <a
			href="#" target="_blank" class="style25">联系我们</a> &nbsp; | &nbsp; <a
			href="#" target="_blank" class="style25">帮助中心</a><br> <span>
			Copyright © 2016-2019 ZUSHOUJI.COM All Rights Reserved 神州租机 版权所有
			京ICP备16068806号</span>F
	</div>

</body>
</html>