<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>分期租机 - 神州租手机</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<style type="text/css">
body {
	background-color: #f6f6f6;
}
</style>
</head>
<body>

	<div style="padding: 0px 30px 0px 30px; background: #f5f5f5;">
		<div class="style23" style="line-height: 30px; height: 30px;">
			<span id="user"><div class="style23" style="float: left;">神州用户，您好！</div>
				<div class="style23" style="float: right;">
					<a href="#" target="_blank"
						class="style23">用户登录</a> &nbsp; &nbsp; <a
						href="#" target="_blank"
						class="style23">免费注册</a>
				</div>
			</span>
		</div>
	</div>

	<div
		style="padding: 10px 30px 0px 30px; background: #ffffff; border-bottom: 1px #555555 solid; min-width: 1200px; height: 90px;">
		<div style="float: left; padding: 15px 20px 0px 0px;">
			<a href="#"><img
				src="images/logo.png" width="50" height="50"
				border="0"
				style="padding: 2px; background: #00a0e4; border-radius: 5%;"></a>
		</div>
		<div class="style19" style="float: left; padding-top: 25px;">分期租机</div>
		<a href="#" target="_blank" class="style8"><div
				class="style8"
				style="float: right; margin-top: 20px; border: 1px #eeeeee solid; background: #f2f2f2; padding-top: 15px; width: 150px; height: 28px; text-align: center;">我的租物车</div></a>
	</div>

	<div
		style="margin-right: auto; margin-left: auto; padding-top: 20px; font-size: 14px; color: #333333; width: 1200px; height: 35px;">
		<a href="#" class="style8">首页</a> &gt; 分期租机
	</div>

	<div
		style="margin-right: auto; margin-left: auto; padding: 30px 50px 0px 50px; background: #ffffff; width: 1100px; height: 180px;">

		<div style="height: 50px;">
			<div class="style7" style="float: left;">品牌机型</div>
			<div class="style4" style="float: right; padding-top: 15px;"></div>
		</div>

		<div align="center" class="style0"
			style="padding: 0px 0px 0px 0px; height: 80px;">
			<div id="m1" onclick="mobile(),showbg(1)" class="style8"
				style="float: left; padding-top: 20px; border: 1px #ffbb00 solid; background: #ffbb00; width: 120px; height: 40px; cursor: pointer;">全部品牌</div>
			<div id="m2" onclick="brand(&#39;Apple&#39;),showbg(2)"
				style="float: left; margin-left: 15px; border: 1px #dddddd solid; width: 120px; cursor: pointer;">
				<img src="images/apple.gif" width="100">
			</div>
			<div id="m3" onclick="brand(&#39;SAMSUNG&#39;),showbg(3)"
				style="float: left; margin-left: 15px; border: 1px #dddddd solid; width: 120px; cursor: pointer;">
				<img src="images/samsung.gif" width="100">
			</div>
			<div id="m4" onclick="brand(&#39;HUAWEI&#39;),showbg(4)"
				align="center"
				style="float: left; margin-left: 15px; border: 1px #dddddd solid; width: 120px; height: 60px; cursor: pointer;">
				<img src="images/huawei.gif" width="100">
			</div>
			<div id="m5" onclick="brand(&#39;OPPO&#39;),showbg(5)" align="center"
				style="float: left; margin-left: 15px; border: 1px #dddddd solid; width: 120px; height: 60px; cursor: pointer;">
				<img src="images/oppo.gif" width="100">
			</div>
			<div id="m6" onclick="brand(&#39;VIVO&#39;),showbg(6)" align="center"
				style="float: left; margin-left: 15px; border: 1px #dddddd solid; width: 120px; height: 60px; cursor: pointer;">
				<img src="images/vivo.gif" width="100">
			</div>
			<div id="m7" onclick="brand(&#39;XIAOMI&#39;),showbg(7)"
				align="center"
				style="float: left; margin-left: 15px; border: 1px #dddddd solid; width: 120px; height: 60px; cursor: pointer;">
				<img src="images/mi.gif" width="100">
			</div>
			<div id="m8" onclick="brand(&#39;oneplus&#39;),showbg(8)"
				align="center"
				style="float: left; margin-left: 15px; border: 1px #dddddd solid; width: 120px; height: 60px; cursor: pointer;">
				<img src="images/oneplus.gif" width="100">
			</div>
		</div>
	</div>
	<div
		style="margin-right: auto; margin-left: auto; margin-top: 30px; padding: 0px 0px 50px 0px; background: #; width: 1200px; overflow: hidden;">
		<span id="qp">
			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/gsMHAFyweJmAFoUvAAKDaP4GX5c740.png"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">OPPO
					Reno</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					2999.00</div>
				<div class="style33" style="height: 30px;">¥ 166.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/RbQHAFvHCMCAP2rXAAKiYAeMP1E066.jpg"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">华为
					Mate 20 Pro</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					6499.00</div>
				<div class="style33" style="height: 30px;">¥ 361.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/R7QHAFvG_7eAKQUyAAJ3gNyeIXw563.jpg"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">华为
					Mate 20 X</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					4999.00</div>
				<div class="style33" style="height: 30px;">¥ 277.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/RrQHAFrYW2-ACYwsAAE1kPSWsZQ154.jpg"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">华为
					Mate 20 RS 保时捷</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					17888.00</div>
				<div class="style33" style="height: 30px;">¥ 993.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/RrQHAFvXxJqAMlXAAAHsj3dhNfM212.jpg"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">一加
					6T</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					3899.00</div>
				<div class="style33" style="height: 30px;">¥ 216.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/R7QHAFwPsBeAHFKlAAMKbs2rXpg506.jpg"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">VIVO
					NEX</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					4988.00</div>
				<div class="style33" style="height: 30px;">¥ 277.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/RbQHAFvSjMeAJTl7AAN7nyyEWzM077.jpg"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">小米
					MIX 3</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					3599.00</div>
				<div class="style33" style="height: 30px;">¥ 199.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/R7QHAFvG_6iAbK1YAAMxPcodeCg861.jpg"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">华为
					Mate 20</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					4599.00</div>
				<div class="style33" style="height: 30px;">¥ 255.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/RbQHAFuZjLaAZD6yAAD6SRDtLYA406.jpg"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">苹果
					iPhone XS</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					8699.00</div>
				<div class="style33" style="height: 30px;">¥ 483.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/RbQHAFuZjLaAZD6yAAD6SRDtLYA406.jpg"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">苹果
					iPhone XS Max</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					9599.00</div>
				<div class="style33" style="height: 30px;">¥ 533.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/RbQHAFtxQCeAbs6zAAIRCuTDVsA310.jpg"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">OPPO
					R17</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					3199.00</div>
				<div class="style33" style="height: 30px;">¥ 177.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/RbQHAFvQLtyAW2hwAAJDNEDsEoc897.jpg"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">OPPO
					R17 Pro</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					4299.00</div>
				<div class="style33" style="height: 30px;">¥ 238.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/RbQHAFs10BmAQCd3AADb3wJNfLw659.jpg"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">OPPO
					Find X</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					4999.00</div>
				<div class="style33" style="height: 30px;">¥ 277.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/RbQHAFt71M6ABgQTAAM8d5kWk2I768.jpg"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">VIVO
					X23</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					3188.00</div>
				<div class="style33" style="height: 30px;">¥ 177.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/R7QHAFuq8-2Ab36GAAHlyP6_Vns814.jpg"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">小米
					8 指纹版</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					3399.00</div>
				<div class="style33" style="height: 30px;">¥ 188.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/RbQHAFtsJg6AQYPKAAjNu20m9Wo226.png"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">魅族
					16 Plus</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					3398.00</div>
				<div class="style33" style="height: 30px;">¥ 188.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/RbQHAFtsJg6AQYPKAAjNu20m9Wo226.png"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">魅族
					16</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					3198.00</div>
				<div class="style33" style="height: 30px;">¥ 177.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/RbQHAFsjl1WABL8uAAIClmvm9AM068.jpg"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">小米
					8</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					2899.00</div>
				<div class="style33" style="height: 30px;">¥ 161.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/RbQHAFsHt7yAOyEPAAGrznJsuyg758.jpg"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">一加
					6</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					3599.00</div>
				<div class="style33" style="height: 30px;">¥ 199.00</div>
			</div>

			<div
				style="float: left; margin: 0px 10px 10px 0px; padding: 20px 30px 20px 30px; background: #ffffff; width: 230px;">
				<div style="padding: 30px 0px 30px 0px; text-align: center;">
					<a href="#" target="_blank"><img
						src="images/hRoGAFq7ApeAELtOAAGVDz0yq8U636.jpg"
						height="180" border="0"></a>
				</div>
				<div class="style30" style="padding-top: 0px; height: 35px;">华为
					P20 Pro</div>
				<div class="style8" style="padding-top: 0px; height: 30px;">市场价：¥
					4488.00</div>
				<div class="style33" style="height: 30px;">¥ 249.00</div>
			</div>

			<div id="lbtn"></div>
		</span>
	</div>

	<div style="margin-top: 100px; background: #ffffff;">
		<div class="style30"
			style="margin-right: auto; margin-left: auto; padding-top: 30px; border-bottom: 1px #eeeeee solid; line-height: 50px; width: 1200px; height: 70px;">
			<div
				style="float: left; padding-left: 50px; width: 25%; height: 60px;">
				<img src="images/icon_pc.png" width="30" height="30"
					align="absmiddle"> 以租代购
			</div>
			<div
				style="float: left; padding-left: 0px; width: 25%; height: 60px;">
				<img src="images/icon_money.png" width="30"
					height="30" align="absmiddle"> 零元首付
			</div>
			<div
				style="float: left; padding-left: 0px; width: 25%; height: 60px;">
				<img src="images/icon_datepicker.png" width="30"
					height="30" align="absmiddle"> 分期付费
			</div>
			<div
				style="float: left; padding-left: 0px; width: 20%; height: 60px;">
				<img src="images/icon_protect.png" width="30"
					height="30" align="absmiddle"> 免赔保障
			</div>
		</div>
	</div>
	<div style="background: #ffffff;">
		<div
			style="margin-left: auto; margin-right: auto; padding-top: 30px; border-bottom: 1px #eeeeee solid; line-height: 35px; width: 1200px; height: 180px;">
			<div style="float: left; padding-left: 50px; width: 180px;">
				<span class="style11">业务介绍</span><br>
				<a href="#" class="style28"
					target="_blank">以租代购</a><br>
				<a href="#" class="style28"
					target="_blank">租机业务</a><br>
				<a href="#" class="style28"
					target="_blank">租机品牌</a>
			</div>
			<div style="float: left; width: 180px;">
				<span class="style11">信用额度</span><br>
				<a href="#" class="style28"
					target="_blank">获得额度</a><br>
				<a href="#" class="style28"
					target="_blank">使用额度</a><br>
				<a href="#" class="style28"
					target="_blank">提高额度</a>
			</div>
			<div style="float: left; width: 180px;">
				<span class="style11">分期支付</span><br>
				<a href="#" class="style28"
					target="_blank">信用卡</a><br>
				<a href="#" class="style28"
					target="_blank">储蓄卡</a><br>
				<a href="#" class="style28"
					target="_blank">支付宝</a><br>
			</div>
			<div style="float: left; width: 180px;">
				<span class="style11">账单还款</span><br>
				<a href="#" class="style28"
					target="_blank">扣款周期</a><br>
				<a href="#" class="style28"
					target="_blank">还款时间</a><br>
				<a href="#" class="style28"
					target="_blank">还款周期</a><br>
			</div>
			<div
				style="float: left; border-right: 1px #eeeeee solid; width: 150px; height: 150px;">
				<span class="style11">换机购机</span><br>
				<a href="#" class="style28"
					target="_blank">如何还机</a><br>
				<a href="#" class="style28"
					target="_blank">如何换机</a><br>
				<a href="#" class="style28"
					target="_blank">如何购机</a>
			</div>
			<div class="style25"
				style="float: right; padding-top: 0px; width: 220px;">
				<img src="images/alipay.png" width="110" height="110">
				<img src="images/weixin.png" width="110" height="110"><br>关注神州租机支付宝生活号和微信公众号

			</div>
		</div>
	</div>
	<div align="center" class="style25"
		style="padding-top: 30px; background: #ffffff; line-height: 25px; height: 80px;">
		<a href="#" target="_blank"
			class="style25">公司介绍</a> &nbsp; | &nbsp; <a
			href="#" target="_blank"
			class="style25">旗下网站</a> &nbsp; | &nbsp; <a
			href="#" target="_blank"
			class="style25">业务体系</a> &nbsp; | &nbsp; <a
			href="#" target="_blank"
			class="style25">门店计划</a> &nbsp; | &nbsp; <a
			href="#" target="_blank"
			class="style25">联系我们</a> &nbsp; | &nbsp; <a
			href="#" target="_blank" class="style25">帮助中心</a><br>
		<span> Copyright © 2016-2019 ZUSHOUJI.COM All Rights Reserved
			神州租机 版权所有 京ICP备16068806号</span>
	</div>

</body>
</html>