<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.sz.dao.SysUserDao">
	<insert id="insetUser"
			parameterType="com.cy.sz.entity.SysUser">
       insert into user
       (username,password,salt,province,city,email,starttime,endtime)
       values
       (#{username},#{password},#{salt},#{province},#{city},#{email},now(),now())
    </insert>
</mapper>