<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysRoleDao">
    
    <!-- 修改角色自身信息 -->
    <update id="updateObject">
        update sys_roles
        set name=#{name},
            note=#{note},
            modifiedTime=now(),
            modifiedUser=#{modifiedUser}
        where id=#{id}
    </update>
    
    <!-- resultMap 标签用于自己定义映射规则的场景 -->
    <resultMap id="sysRoleMenuVo"
               type="com.cy.pj.sys.vo.SysRoleMenuVo">
              <!-- one2many 
                           基于角色id查询角色菜单关系表,获取菜单id并将其映射到
              vo对象的menuIds属性上 -->
              <collection property="menuIds"
                          column="id"
                          select="com.cy.pj.sys.dao.SysRoleMenuDao.findMenuIdsByRoleId">
              </collection>
    </resultMap>
    <!-- 查询角色自身信息 -->
    <select id="findObjectById"
            resultMap="sysRoleMenuVo">
            select id,name,note
            from sys_roles
            where id=#{id}
    </select>
    <!-- useGeneratedKeys表示应用自增主键值
         keyProperty 表示把自增主键值赋值给参数对象的id属性-->
	<insert id="insertObject"
		parameterType="com.cy.pj.sys.entity.SysRole" 
		useGeneratedKeys="true"
		keyProperty="id">
		insert into sys_roles
		(id,name,note,createdTime,modifiedTime,
		createdUser,modifiedUser)
		values
		(null,#{name},#{note},now(),now(),
		#{createdUser},#{modifiedUser})
	</insert>
   
   <!-- 提取sql共性 -->
   <sql id="queryWhereId">
       <where>
          <if test="name!=null and name!=''">
          name like concat("%",#{name},"%")
          </if>
       </where>
   </sql>
   
   <!-- 分页查询 -->
   <select id="findPageObjects"
           resultType="com.cy.pj.sys.entity.SysRole">
          select *
          from sys_roles
          <include refid="queryWhereId"/>
          order by createdTime desc
          limit #{startIndex},#{pageSize}
   </select>
   <!-- 统计记录总数 -->
   <select id="getRowCount" resultType="int">
       select count(*)
       from sys_roles
       <include refid="queryWhereId"/>
   </select>
   
</mapper>
